[submodule "src/zed-ros2-wrapper"]
	path = src/zed-ros2-wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper.git
[submodule "src/velodyne"]
	path = src/velodyne
	url = https://github.com/ros-drivers/velodyne.git
	branch = foxy-devel
[submodule "src/sick_scan_xd"]
	path = src/sick_scan_xd
	url = https://github.com/SICKAG/sick_scan_xd.git
[submodule "src/msgpack11"]
	path = src/msgpack11
	url = https://github.com/SICKAG/msgpack11.git
[submodule "src/vrx"]
	path = src/vrx
	url = https://github.com/ArcturusNavigation/vrx.git
	branch = master
[submodule "src/robot_localization"]
	path = src/robot_localization
	url = https://github.com/cra-ros-pkg/robot_localization.git
